<div class="row">

    <div class="col-md-12">
        <label>Shopping List</label>
    </div>

    <div class="col-md-12">
        <div class="col-md-10">
            <app-shopping-list-item (ingredientAdded)="onIngredientAdded($event)"></app-shopping-list-item>
        </div>
    </div>

    <div class="col-md-12"><hr></div>
    
    <div class="col-md-12">
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer" *ngFor="let ingredient of ingredients">
                {{ingredient.name}} {{ingredient.amount}}
            </a>
        </ul>
    </div>
</div>