<div class="row">

    <div class="col-md-5">
        <app-recipe-list
        (recipeWasSelect)="selectedRecipe = $event"
        >
            
        </app-recipe-list>
    </div>

    <div class="col-md-7">
        <!-- passa para os detalhe se não for nulo a receita seleciona-->
        <app-recipe-detail
        *ngIf="selectedRecipe; else infoText"
        [recipeDetail]="selectedRecipe"
        >
            
        </app-recipe-detail>
        <ng-template #infoText>
            <p>Select a recipe!</p>
        </ng-template>
    </div>
</div>